<%= form_with(model: sourse_of_income) do |form| %>
  <% if sourse_of_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sourse_of_income.errors.count, "error") %> prohibited this sourse_of_income from being saved:</h2>

      <ul>
        <% sourse_of_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :salary_income %>
    <%= form.number_field :salary_income %>
  </div>

  <div class="field">
    <%= form.label :independent %>
    <%= form.number_field :independent %>
  </div>

  <div class="field">
    <%= form.label :mixed_income %>
    <%= form.number_field :mixed_income %>
  </div>

  <div class="field">
    <%= form.label :expenses %>
    <%= form.number_field :expenses %>
  </div>

  <div class="field">
    <%= form.label :difference %>
    <%= form.number_field :difference %>
  </div>

  <div class="field">
    <%= form.label :approval %>
    <%= form.check_box :approval %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
