<%= form_with(model: [@loan, source_of_income]) do |form| %>
  <% if source_of_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source_of_income.errors.count, "error") %> prohibited this source_of_income from being saved:</h2>

      <ul>
        <% source_of_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="form-group">
    <%= form.label 'Ingreso por salario' %>
    <%= form.number_field :salary_income, class: 'form-control'%>
  </div>
 
  <div class="form-group">
    <%= form.label 'Ingreso indendiente' %>
    <%= form.number_field :independent %>
  </div>

  <div class="form-group">
    <%= form.label 'total de ingresos' %>
    <%= form.number_field :mixed_income %>
  </div>

  <div class="form-group">
    <%= form.label 'total de gastos' %>
    <%= form.number_field :expenses %>
  </div>

  <div class="form-group">
    <%= form.label 'Diferencia' %>
    <%= form.number_field :difference %>
  </div>

  <div class="form-group">
    <%= form.label 'Aprobado' %>
    <%= form.check_box :approval %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'source_of_income', 'data-turbolinks-track': 'reload' %>
