<h1>Editar fuente de Ingresos</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Monto:</strong>
  <%= number_to_colones @loan.amount %>
</p>

<p>
  <strong>Interes:</strong>
  <%= number_to_colones @loan.interest %>
</p>

<p>
  <strong>Plazo</strong>
  <%= @loan.term %>
</p>

<p id='fee' data-amount='<%=@loan.fee%>'>
  <strong>Cuota:</strong>
  <%= number_to_colones @loan.fee %>
</p>
<%= render 'form', loan: @loan, source_of_income: @source_of_income %>

<%= link_to 'Back', source_of_incomes_path %>
