<p id="notice"><%= notice %></p>

<h1>source Of Incomes</h1>

<table>
  <thead>
    <tr>
      <th>Salary income</th>
      <th>Independent</th>
      <th>Mixed income</th>
      <th>Expenses</th>
      <th>Difference</th>
      <th>Approval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @source_of_incomes.each do |source_of_income| %>
      <tr>
        <td><%= source_of_income.salary_income %></td>
        <td><%= source_of_income.independent %></td>
        <td><%= source_of_income.mixed_income %></td>
        <td><%= source_of_income.expenses %></td>
        <td><%= source_of_income.difference %></td>
        <td><%= source_of_income.approval %></td>
        <td><%= link_to 'Show', source_of_income %></td>
        <td><%= link_to 'Edit', edit_source_of_income_path(source_of_income) %></td>
        <td><%= link_to 'Destroy', source_of_income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New source Of Income', new_source_of_income_path %>
