<select class="custom-select" id='loanTypeInput'>
  <option selected>Elija una opción</option>
  <option value="personal">Personal</option>
  <option value="car">Vehículo</option>
  <option value="house">Vivienda</option>
</select>

<%= form_with(model: loan) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.number_field :interest %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.number_field :term %>
  </div>

  <div class="field">
    <%= form.label :fee %>
    <%= form.number_field :fee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= javascript_pack_tag 'prestamo', 'data-turbolinks-track': 'reload' %>