<%= form_with(model: loan) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label 'Tipo de Préstamo' %>
    <%= form.select :kind, [["Personal",:personal], ["Vivienda",:real_state], ["Vehículo", :vehicle]], {},class: 'form-control' %> 
  </div>

  <div class="form-group">
    <%= form.label 'Monto' %>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Tasa de Interés' %>
    <%= form.text_field :interest, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
  <%= form.label 'Plazo' %>
  <%=form.select :term,['12','24','36'],{}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Cuota' %>
    <%= form.number_field :fee, class: 'form-control', readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar',class: 'btn btn-success btn-lg'%>
  </div>
<% end %>
<%= javascript_pack_tag 'prestamo', 'data-turbolinks-track': 'reload' %>