<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col">
  <h2>
  Crédito</h2>
    <p>
      <strong>Monto:</strong>
      <%= number_to_colones(@loan.amount) %>
    </p>

    <p>
      <strong>Interes:</strong>
      <%= @loan.interest %>
    </p>

    <p>
      <strong>Plazo:</strong>
      <%= @loan.term %>
    </p>
  
    <p id='fee' data-amount='<%=@loan.fee%>'>
      <strong>Cuota:</strong>
      <%= number_to_colones(@loan.fee) %>
    </p>
  </div>
  <div class="col">
  <h2>Ingresos</h2>
    <%if @loan.source_of_income.nil?%>
    <%= render 'source_of_incomes/form', source_of_income: @loan.build_source_of_income, loan:@loan%>
    <%else %> 
    <p>
      <strong>ingreso salario:</strong>
      <span class=""><%=number_to_colones(@loan.source_of_income.salary_income) %></span>
    </p>

    <p>
      <strong>Independiente:</strong>
      <span class=><%=number_to_colones(@loan.source_of_income.independent) %></span>
    </p>

    <p class=""> 
      <strong>Total de ingresos:</strong>
      <%= number_to_colones(@loan.source_of_income.mixed_income) %>
    </p>

    <p>
      <strong class="">Expenses:</strong>
      <span class=""><%= number_to_colones(@loan.source_of_income.expenses) %></span>
    </p>

    <p>
      <span class="">
        <strong>Difference:</strong>
        <%= number_to_colones(@loan.source_of_income.difference) %>
      </span>
    </p>
  
  </div>

</div>



<p class ='display-4'>
  <strong>Resolución:</strong>
  <%= @loan.source_of_income.approval ? 'Confirmado' : 'Denegado' %> 
</p>
<%end%>
<%if @loan.source_of_income.persisted?%>
<%= link_to 'Editar ingreso', edit_loan_source_of_income_path(@loan, @loan.source_of_income) %> 
<%end%>
| 
<%= link_to 'Editar crédito', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
